body {
  background-color: rgb(249, 247, 244);
  margin: 0 auto;
  font-family: "Arapey", serif;
}
h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}
h1 {
  font-size: 96px;
  margin: 0 auto;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 24px;
  margin: 0px 20px 60px 20px;
}
.hero {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 150px 0px;
  text-align: center;
}
.contact-button {
  border: solid rgb(159, 118, 118) 1px;
  border-radius: 4px;
  color: rgb(112, 75, 75);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;

  background: linear-gradient(
      to right,
      rgba(244, 222, 222, 1),
      rgba(244, 222, 222, 1)
    ),
    linear-gradient(
      to right,
      rgb(255, 251, 223),
      rgb(251, 228, 49),
      rgb(255, 213, 162),
      rgb(240, 197, 255),
      rgb(249, 172, 226),
      rgb(170, 212, 254)
    );
  background-size: 100% 5px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
  background-color: rgba(244, 222, 222, 1);
}
.contact-button:hover {
  background-size: 0 3px, 100% 5px;
  color: rgb(202, 118, 176);
}

.row {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 10px;
  padding: 20px;
}
.learn-more-link {
  border: solid black 1px;
  border-radius: 4px;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.learn-more-link:hover {
  box-shadow: inset 200px 0 0 0 rgba(244, 222, 222, 1);
  color: rgb(86, 57, 57);
}
img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
p {
  font-size: 20px;
  padding: 20px;
}
