body {
  background-color: rgba(239, 220, 242, 0.246);
  margin: 0 auto;
  font-family: "Arapey", serif;
}
h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

.navbar a:hover {
  color: rgb(130, 56, 170);
}
.about-me-content {
  margin: 60px;
}

.hero h1 {
  font-size: 96px;
  margin: 0 auto;
  background: linear-gradient(
      to right,
      rgb(245, 239, 249) 30.1%,
      rgb(207, 211, 236) 100.2%
    ),
    linear-gradient(
      to right,
      rgb(255, 251, 223),
      rgb(251, 228, 49),
      rgb(255, 213, 162),
      rgb(240, 197, 255),
      rgb(249, 172, 226),
      rgb(170, 212, 254)
    );
  background-size: 100% 5px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
}
.hero h1:hover {
  background-size: 0 3px, 100% 8px;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 24px;
  margin: 0px 20px 60px 20px;
}
.header {
  padding: 15px;
  color: #515658;
}
.hero {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 150px 0px;
  text-align: center;
}
.contact-button {
  border: solid rgb(55, 54, 54) 1px;
  border-radius: 4px;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.contact-button:hover {
  box-shadow: 0 0 10px 0 #faeec8 inset, 0 0 10px 8px #fff9cf;
  color: black;
  font-size: 20px;
}
.main-page .row,
.about-me-content {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 10px;
  padding: 20px;
}
img {
  border-radius: 7px;
}

.learn-more-link,
.link-not-available {
  border: solid black 1px;
  border-radius: 4px;
  color: black;
  display: block;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 40px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  width: 30%;
}
.learn-more-link:hover {
  background-color: #e9defa;
  border: #9854ff solid 1px;
  color: #9854ff;
}
.about-me-page {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
.about-me-content {
  background: linear-gradient(-45deg, #02ff5f, #f4cbf7, #a3def4, #f2ff00);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.link-not-available {
  width: 100%;
  margin-left: 0px;
}
p {
  font-size: 20px;
  opacity: 70%;
  padding: 20px;
}
b {
  color: black;
}
hr {
  margin: 0 auto;
}
.footer,
nav {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 20px;
}

.footer-icon a {
  background-color: #e9defa;
  border-radius: 50%;
  color: rgb(130, 56, 170);
  font-size: 35px;
  margin: 10px;
  padding: 10px 20px;
  transition: all 150ms ease-in-out;
}
.footer-icon a:hover {
  background-color: rgb(130, 56, 170);
  color: #e9defa;
}

@media (min-width: 1200px) {
  .about-me-content {
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media (max-width: 992px) {
  .container p {
    text-align: center;
  }
  .learn-more-link {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 60px 0px;
  }
  .about-me-content {
    margin: 0 auto;
    margin-top: 40px;
  }
  h1,
  .work-page h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }
  hr {
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    padding: 0px;
  }
  .work-page .learn-more-link {
    font-size: 18px;
    padding: 15px 20px;
  }
  form {
    margin: auto 10px;
  }
}

.project-icon {
  max-width: 80%;
  margin-bottom: 20px;
  margin-left: 50px;
}
