body {
  background-color: rgba(239, 220, 242, 0.246);
  margin: 0 auto;
  font-family: "Arapey", serif;
}
h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}
.hero h1 {
  font-size: 96px;
  margin: 0 auto;
  background: linear-gradient(
      to right,
      rgb(245, 239, 249) 30.1%,
      rgb(207, 211, 236) 100.2%
    ),
    linear-gradient(
      to right,
      rgb(255, 251, 223),
      rgb(251, 228, 49),
      rgb(255, 213, 162),
      rgb(240, 197, 255),
      rgb(249, 172, 226),
      rgb(170, 212, 254)
    );
  background-size: 100% 5px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
}
.hero h1:hover {
  background-size: 0 3px, 100% 8px;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 24px;
  margin: 0px 20px 60px 20px;
}
.hero {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 150px 0px;
  text-align: center;
}
.contact-button {
  border: solid rgb(55, 54, 54) 1px;
  border-radius: 4px;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.contact-button:hover {
  box-shadow: 0 0 10px 0 #faeec8 inset, 0 0 10px 8px #fff9cf;
  color: black;
  font-size: 20px;
}
.main-page .row {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 10px;
  padding: 20px;
}
.img-portfolio {
  display: block;
  border-radius: 4px;
  margin: 0 auto;
}
.learn-more-link {
  border: solid black 1px;
  border-radius: 4px;
  color: black;
  font-size: 20px;
  margin: 20px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.learn-more-link:hover {
  background-color: #e9defa;
  border: #9854ff solid 1px;
  color: #9854ff;
}
p {
  font-size: 20px;
  padding: 20px;
  opacity: 70%;
}
.footer {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 20px;
}

.main-page-icon a {
  background-color: #e9defa;
  border-radius: 50%;
  color: rgb(130, 56, 170);
  font-size: 35px;
  margin: 10px;
  padding: 10px 20px;
  transition: all 150ms ease-in-out;
}
.main-page-icon a:hover {
  background-color: rgb(130, 56, 170);
  color: #e9defa;
}

.about-page {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding-top: 50px;
  padding-right: 50px;
  text-align: left;
}
.about-page h1 {
  font-size: 70px;
}
.about-page h2 {
  font-size: 30px;
}
.about-page .contact-button {
  display: block;
  margin: 30px 150px;
  text-align: center;
}
.img-about {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-right: 5px;
  width: 50%;
}

.work-page {
  margin: 40px;
  padding: 30px;
  text-align: center;
}
.work-section {
  margin-bottom: 35px;
}
.work-page h1 {
  font-size: 60px;
}
.contact-page .container {
  margin: 100px;
}
.contact-page h1 {
  font-size: 70px;
}
form {
  border: solid 1px rgb(130, 56, 170);
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  max-width: 60%;
}
.button-form {
  background-color: rgb(149, 86, 183);
  color: #e9defa;
  font-size: 18px;
}
@media (max-width: 992px) {
  .container p {
    text-align: center;
  }
  .learn-more-link {
    display: block;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 60px 0px;
  }
  h1,
  .about-page h1,
  .work-page h1,
  .contact-page h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  .about-page h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 17px;
  }
  .about-page .contact-button {
    margin: 30px;
  }
}
/* 
Gradient Button

.contact-button {
  border: solid rgb(159, 118, 118) 1px;
  border-radius: 4px;
  color: rgb(112, 75, 75);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;

  background: linear-gradient(
      to right,
      rgba(244, 222, 222, 1),
      rgba(244, 222, 222, 1)
    ),
    linear-gradient(
      to right,
      rgb(255, 251, 223),
      rgb(251, 228, 49),
      rgb(255, 213, 162),
      rgb(240, 197, 255),
      rgb(249, 172, 226),
      rgb(170, 212, 254)
    );
  background-size: 100% 5px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 700ms;
  background-color: rgba(244, 222, 222, 1);
}
.contact-button:hover {
  background-size: 0 3px, 100% 5px;
  color: rgb(202, 118, 176);
} */
